{% extends "blog/base.html" %}

{% block content %}
	<div class="header">
		<a class="title" href="{% url 'blog-index' %}"><h1>Django Blog</h1></a>
		<div class="social">
		    <a href="https://github.com" target="_blank"><i class="fab fa-github fa-3x"></i></a>
		    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
	    </div>
		<form action="{% url 'search' %}" method="GET">
		  	<input class="inpt" type="text" name="q" id="id_q" placeholder="Buscar por posts...">
		</form>
	</div>
	<div class="posts-container">
		{% for post in posts %}
		<div class="posts">
			<a class="post-title" href="{% url 'post-detail' post.id %}"><h1>{{ post.titulo }}</h1></a>
			<p>{{ post.conteudo }}</p>
			<small>{{ post.data|date:"F d, Y" }}</small>
			<p>Autor: <b>{{ post.autor }}</b></p>
		</div>
		{% endfor %}
	</div>
	
	<div class="paginas">
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a href="?page=1">First</a>
			<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
		  		<a class="pagina-atual" href="?page={{ num }}">{{ num }}</a>  	
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}  
		  		<a href="?page={{ num }}">{{ num }}</a>  	
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Next</a>
			<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}	  
	{% endif %}
	</div>

{% endblock content %}